<!-- 导航栏组件 -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/china.png" alt="Logo 1" class="logo-img">
            <img src="/assets/whu.png" alt="Logo 2" class="logo-img">
            <img src="/assets/logo.png" alt="Logo 3" class="logo-img">
        </div>
        <a href="/" class="logo">武汉大学 | 大学生文化艺术中心</a>
        <ul class="nav-menu">
            <li class="nav-item" id="nav-overview"><a href="/">中心概览</a></li>
            <li class="nav-item" id="nav-departments"><a href="/departments/">部门介绍</a></li>
            <li class="nav-item" id="nav-activities"><a href="/activities/">活动掠影</a></li>
            <li class="nav-item" id="nav-feedback"><a href="/feedback/">意见反馈</a></li>
        </ul>
    </div>
</nav>